<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Modifica tus datos aquí</div>
        <div class="masthead-heading text-uppercase">Tu perfil personal</div>
    </div>
</header>
<!-- Services-->
<section class="page-section bg-light" id="services" id="principio2">
    <div class="container">
        <div class="container">
            <div class="row">
                <h2 id="tit_principal" class="col-md-12">Mi configuración</h2>
                <div class="col-md-3" id="menu">
                    <a class='enlacle' href="/datospersonales/#principio2"><h3 class="pestañas">Información personal</h3></a>
                    <hr>
                    <h3 class="pestañas" id="sel">Cambio de contraseña</h3>
                    <hr>
                    <a class='enlacle' href="/privacidad/#principio2"><h3 class="pestañas">Privacidad</h3></a>
                    <hr>
                </div>
                <div class="col-md-9">
                    <div class="row" id="secundario">
                        <div class="col-md-12">
                            <h3 id="tit">Cambio de contraseña</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Contraseña actual</label><br>
                                    <input class="datos_pass form-control" type="password" placeholder="Your Current Password *" required="required"
                                    data-validation-required-message="Please enter your current password.">
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label>Nueva contraseña</label><br>
                                    <input class="datos_pass form-control" type="password" placeholder="Your New Password *" required="required"
                                    data-validation-required-message="Please enter your new password.">
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label>Confirmar la nueva contraseña</label><br>
                                    <input class="datos_pass form-control" type="text" required="required"
                                    data-validation-required-message="Please enter your new passowrd.">
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div id="success"></div>
                                    <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>