<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Tienda Tucoop</div>
        <div class="masthead-subheading">Del campo a tu mesa</div>
    </div>
</header>
<div class="product-view">
    <div class="container-fluid">
        <div class="row px-1 mt-2">
            <div class="col-sm-12">
                <div class="dx-card card-about pb-4 mb-4">
                    <div class="title text-left m-3">About {{producto.producto_nombre}}</div>
                    <div class="row m-1">
                        <div class="col-md-4">

                            <img class="logo mt-3"
                                src="http://localhost/TuCoop_v2/tucooptienda/backend/web/imagenes/articulos/{{producto.imagen_src}}"
                                alt="" />

                            <!--<div class="widget-container logo mt-3">Slider Imagenes
                                <DxGallery id="data" :data-source="gallery" :loop="true" :show-nav-buttons="true"
                                    :show-indicator="true" :height="300" />
                            </div>-->

                        </div>
                        <div class="separator mx-3 my-1"></div>
                        <div class="col-md-7 text-left">
                            <div class="name big-title px-4 py-3">
                                {{producto.producto_nombre}}</div>
                            <br><br>
                            <span class="title">Price: </span>
                            <span *ngIf="producto.precio" class="number-blue">{{producto.precio}} €</span>
                            <br><br>

                            <span class="title">Stock: </span>
                            <span *ngIf="cantidad" class="text-black">{{cantidad}} KG</span>
                            <br><br>

                            <span class="title">Description: </span>
                            <span class="text-black">{{producto.descripcion}}</span>
                            <br><br>
                            <div *ngIf="producto.cantidad == 0 ">
                                <p>sin Stock</p>
                            </div>
                            <div *ngIf="producto.cantidad > 0">
                                <dx-number-box id="quantity" class="ml-2" [(ngModel)]="totalProducts" [showSpinButtons]="true"></dx-number-box>
                                <!--<input type="number" [(ngModel)]="totalProducts" class="ml-2" id="quantity" />-->

                                <button class="btn btn-primary ml-2" (click)="addItems(producto)" type="button">
                                    <i class="mr-1"></i>
                                    Añadir
                                </button>

                                <p style="color: red">{{incorrecto}}</p>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>