<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Modifica tu pedido aquí</div>
        <div class="masthead-heading text-uppercase">Tu carrito personal</div>
    </div>
</header>
<!-- Services-->
<section class="page-section bg-light" id="carrito" id="principio2">
    <div class="container">
        <div class="row" id="secundario">
            <div class="col-md-12 text-center">
                <h3 id="tit">Cesta</h3>
            </div>
            <div class="col-md-12">
                <div class="carrito">
                    <div class="row carrito-header pb-2 mb-2 pt-2">
                        <div class="col-3">Nombre</div>
                        <div class="col-2">Precio</div>
                        <div class="col-2">Unidades</div>
                        <div class="col-2">Total</div>
                        <div class="col-3 borrar">Borrar</div>
                    </div>
                    <div class="row carrito-lista mt-3 pb-2 " *ngFor="let item of items">
                        <div class="col-3 pt-2">{{item.producto_nombre}}</div>
                        <div class="col-2 pt-2">{{item.precio}} €</div>
                        <div class="col-2 pt-2">{{item.cantidad}}</div>
                        <div class="col-2 pt-2">{{item.precio * item.cantidad * 1}} €</div>
                        <div class="col-3 "><button class="btn btn-primary ml-2" (click)="remove(item)" type="button">
                                <i class="fas fa-times mr-1"></i> Borrar Articulo </button></div>
                    </div>
                    <div class="row totales mt-4">
                        <div class="col-6 total">Total</div>
                        <div class="col-6">{{TotalIva}} €</div>
                    </div>
                    <button class="btn btn-primary ml-2 mt-3" (click)="realizarPedido()" type="button">
                        <i class="mr-1"></i>
                        Realizar Pedido
                    </button>

                    <button class="btn btn-primary ml-2 mt-3" (click)="removeArticulos()" type="button">
                        <i class="fas fa-times mr-1"></i>
                        Borrar
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>