<div id="scrollview-demo">
    <dx-scroll-view id="scrollview" ref="scrollViewWidget" [scrollByContent]="true" [scrollByThumb]="true">
        <div class="cards d-flex flex-wrap">
            <app-card-list-product [products]="articulo" *ngFor="let articulo of articulos"></app-card-list-product>
        </div>
    </dx-scroll-view>
</div>