<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Modifica tu pedido aquí</div>
        <div class="masthead-heading text-uppercase">Tu carrito personal</div>
    </div>
</header>
<div class="text-center">
    <h1>Metodos de Pago</h1>
</div>
<div class="row">
    <div class="col-md-12 text-center form-group">
        <select [(ngModel)]="select" name="select">
            <option value="tarjeta" selected>Tarjeta de credito</option>
            <option value="paypal">PayPal</option>

        </select>
    </div>
</div>
<div *ngIf="select == 'paypal'" class="row">
</div>

<div *ngIf="select == 'tarjeta'">
    <div class="row">
        <div class="col-md-12 form-group">
            <label>Número Tarjeta</label><br>
            <input class="datos_form form-control" type="text" value="{{usuario.iban}}" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label>CVC/ CVV</label><br>
            <input class="datos_form form-control" type="text" maxlength="3" value="000">
        </div>
        <div class="col-md-6 form-group">
            <label>Fecha de expiración</label><br>
            <input class="datos_form form-control" type="text" maxlength="5" value="01/20">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label>Número de la tarjeta</label><br>
            <input class="datos_form form-control" type="text">
        </div>
    </div>
</div>
<div class="button-comprar">
    <button *ngIf="select == 'tarjeta'" class="btn btn-primary ml-2" (click)="addArticulos()" type="button">
        <i class="mr-1"></i>
        Comprar
    </button>
</div>