<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Busca tus pedidos</div>
        <div class="masthead-heading text-uppercase">Tus Pedidos</div>
    </div>
</header>
<!-- Services-->
<section class="page-section bg-light" id="carrito" id="principio2">
    <div class="container">
        <div class="row" id="secundario">
            <div class="col-md-12 text-center">
                <h3 id="tit">Pedidos</h3>
            </div>


            <div class="col-md-12">
                <div class="pedidos">
                    <div class="row pedidos-header pb-2 mb-2 pt-2">
                        <div class="col-2">Factura</div>
                        <div class="col-2">Fecha de compra</div>
                        <div class="col-2">Estado</div>
                        <div class="col-2">Fecha de envio</div>
                        <div class="col-2">Total</div>
                        <div class="col-2">Detalles</div>
                    </div>
                    <div class="row pedidos-lista mt-3 pb-2 " *ngFor="let facturas of factura">
                        <div class="col-2 pt-3">{{facturas.id}}</div>
                        <div class="col-2 pt-3">{{facturas.fecha_compra}} </div>
                        <div class="col-2 pt-3">{{facturas.estado}}</div>
                        <div class="col-2 pt-3">{{facturas.fecha_envio}}</div>
                        <div class="col-2 pt-3">{{facturas.total}} €</div>
                        <div class="col-2 "><button class="btn btn-primary" mat-raised-button (click)="openDialog(facturas)">Información de compra</button></div>
                    </div>
                </div>

                <!-- <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Factura</th>
                                <th scope="col">Fecha de compra</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha de envio</th>
                                <th scope="col">Total</th>
                                <th scope="col">Detalles</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let facturas of factura">
                            <tr>
                                <td>{{facturas.id}}</td>
                                <td>{{facturas.fecha_compra}} </td>
                                <td>{{facturas.estado}}</td>
                                <td>{{facturas.fecha_envio}}</td>
                                <td>{{facturas.total}} €</td>
                                <td><button class="btn btn-primary" mat-raised-button (click)="openDialog(facturas)">Información de compra</button></td> 
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
        </div>
    </div>
</section>