<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.79.0">
  <title>Signin Template · Bootstrap v5.0</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Favicons -->
  <meta name="theme-color" content="#7952b3">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
</head>

<body class="text-center">
  <div id="mainNav"></div>
  <main class="form-signin">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img id="logo" class="mb-4" src="./assets/imgs/logo.png" alt="" width="200" height="100">
          </div>

          <div class="col-md-12">
            <h1 class="h3 mb-3 fw-normal">Bienvenido</h1>
          </div>

          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <label for="inputUsuario" class="visually-hidden">Usuario</label>
            <input [(ngModel)]="usu" [ngModelOptions]="{standalone: true}" type="email" id="inputUsuario"
              class="form-control" placeholder="Email" required autofocus>
          </div>
          <div class="col-md-4">
          </div>

          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <label for="inputPassword" class="visually-hidden">Contraseña</label>
            <input type="password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" id="inputPassword"
              class="form-control" placeholder="Contraseña" required>
          </div>
          <div class="col-md-4">
          </div>

          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <button class="w-100 btn btn-outline-success" type="submit">Entrar</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>


      <!--contraeña olvidada
            <a href="#popup">He olvidado mi contraseña</a>
            <div id="popup" class="overlay">
                <div id="popupBody">
                    <h2>Recuperar contraseña</h2>
                    <a id="cerrar" href="#">&times;</a>
                    <div class="popupContent">
                        <p>Ingresa tu correo electrónico y te enviaremos un mensaje con tu nueva contraseña.</p>
                        <input type="email" class="form-control" placeholder="E-mail"><br><br>
                        <button class="w-100 btn btn-outline-success">Enviar</button>
                    </div>
                </div>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recordarme
                </label>
            </div>
            -->
    </form>
  </main>
</body>

</html>