<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Tienda Tucoop</div>
        <div class="masthead-subheading">Del campo a tu mesa</div>
    </div>
</header>
<section class="page-section bg-light" id="portfolio">
    <div class="row">
        <div class="item-view-content col-xl-10 col-lg-9 col-md-8 col-sm-7 mx-0 col-6">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Tienda</h2>
                <h3 class="section-subheading text-muted">Los Productos más recientes de la cooperativa.</h3>
                <div class="card-list ml-5 pl-5 ">
                    <app-card-list></app-card-list>
                </div>
            </div>
        </div>
        <div class="filter  col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6 dx-theme-background-color">
            <div class="title-filter">Filter</div>
            <div class="row">
                <div class="filter-type col-lg-12">
                    <div class="filter-name-border">Buscar</div>
                    <dx-slider [min]="0" [max]="2000" [value]="90">
                        <dxo-label [visible]="true" position="top"></dxo-label>
                        <dxo-tooltip [enabled]="true" showMode="always" position="bottom">
                        </dxo-tooltip>
                    </dx-slider>
                </div>
                <div class="filter-type col-lg-12">
                    <div class="filter-name-border">Category</div>
                    <dx-scroll-view id="scrollview" ref="scrollViewWidget" [scrollByContent]="true"
                        [scrollByThumb]="true">
                        <div class="row filter-options" id="categoria" *ngFor="let i of categorias">
                            <!-- filter-value -->
                            <div class="dx-field-value col-3 col-xl-3 col-lg-2 col-md-2 col-sm-2">
                                <dx-check-box (option)="valueChanged(i)" ></dx-check-box>
                                <!--<div class="filter-label col-9 col-xl-9 col-lg-10 col-md-10 col-sm-10">{{i}}</div>-->
                            </div>
                            <!-- filter-label -->
                            <div class="dx-field-label col-9 col-xl-9 col-lg-10 col-md-10 col-sm-10">
                                {{i}}
                            </div>
                        </div>
                    </dx-scroll-view>
                </div>
                <div class="filter-type col-lg-12">
                    <div class="filter-name-border">Price</div>
                    <dx-scroll-view id="scrollview" ref="scrollViewWidget" [scrollByContent]="true"
                        [scrollByThumb]="true">
                        <div class="row filter-options" *ngFor="let i of hola">
                            <div class="filter-value col-3 col-xl-3 col-lg-2 col-md-2 col-sm-2">
                                <dx-check-box [value]="false"></dx-check-box>
                            </div>
                            <div class="filter-label col-9 col-xl-9 col-lg-10 col-md-10 col-sm-10">{{i}}</div>
                        </div>
                    </dx-scroll-view>
                </div>
            </div>
        </div>
    </div>
</section>