.img-fluid2 {
    max-width: 100%;
    max-height: 100%;
    min-width: 75px;
    min-height: 75px;
    width: 220px;
    height: 220px;
    margin-top: 10px;
  }

.product-card {
    width: 320px;
    height: 364px;
    min-width: 100px;
    min-height: 100px;
    left: 0px;
    top: 0px;
    margin-bottom: 20px;
    margin-right: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 15px;
    //margin-top: 10px;
      &:hover{
      box-shadow:  2px 4px 10px #D8D8D8;
      border-radius: 3px;
    }
}

.card-click {
    cursor: pointer;
  }

.Description-text{
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #28a745;
    //white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;  
}

.grey-text {
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   display: flex;
   align-items: center;
   color: #243B53;
}
