<!--<div class="item-card row">
    <div class="col-12">
      <div class="row top-content">
   
        <div class="card-media card-click col-12" @click="onItemClicked">
            <img class="img-fluid2 d-block mx-auto"
            src="http://localhost/TuCoop_v2/tucooptienda/backend/web/imagenes/articulos/{{articulo.imagen_src}}"
            alt="" />
        </div>
   
        <div class="card-media card-click col-12" @click="onItemClicked">
          <div class="col-12 mt-2">
            <p class="Description-text limit">{{ }}</p>
          </div>
          <div class="col-12 mt-2">
            <p class="grey-text limit">{{ }} €</p>
          </div>
        </div>
   
        <div class="card-menu ">
          <dx-drop-down-button :items="menuItems" class="more-style" icon="overflow" :drop-down-options="{ width: 130 }"
            stylingMode="text" :showArrowIcon="false" @item-click="onMenuItemClick($event)" key-expr="id"
            display-expr="name" />
        </div>
   
      </div>
    </div>
  </div>-->
<div class="product-card row">
  <div class="col-12">
    <div class="row top-content">

      <div class="card-media card-click col-12" (click)="onProductClicked()">
        <img class="img-fluid2 d-block mx-auto"
          src="http://localhost/TuCoop_v2/tucooptienda/backend/web/imagenes/articulos/{{products.imagen_src}}" alt="" />
      </div>

      <div class="card-media card-click col-12" (click)="onProductClicked()">
        <div class="col-12">
          <p class="Description-text limit">{{products.producto_nombre}}</p>
        </div>

        <div class="col-12">
          <p class="grey-text limit">{{products.precio}} €/Kg</p>
        </div>
      </div>
    </div>

  </div>
</div>