<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Modifica tu pedido aquí</div>
        <div class="masthead-heading text-uppercase">Tu carrito personal</div>
    </div>
</header>
<section class="page-section bg-light" id="address" id="principio2">
    <div class="container">
        <div class="row" id="secundario">
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6 mx-0 col-6 text-center">
                <h3 id="tit">Direccion Envio</h3>
                <div class="row  pb-2 mb-2 pt-2">
                    <div class=" row form">
                        <div class="dx-field col-12">

                            <dx-autocomplete label="NIF / NIE" labelMode="floating" stylingMode="underlined"
                                [ngModel]="usuario.dni"></dx-autocomplete>

                        </div>
                        <div class="dx-field col-12">

                            <dx-autocomplete label="Nombre" labelMode="floating" stylingMode="underlined"
                                [ngModel]="usuario.nombre"></dx-autocomplete>

                        </div>
                        <div class="dx-field col-12">

                            <dx-autocomplete label="Apellidos" labelMode="floating" stylingMode="underlined"
                                [ngModel]="usuario.apellidos"></dx-autocomplete>

                        </div>
                        <div class="dx-field col-6">

                            <dx-autocomplete label="Ciudad" labelMode="floating" stylingMode="underlined"
                                [ngModel]="usuario.ciudad"></dx-autocomplete>

                        </div>
                        <div class="dx-field col-6">

                            <dx-autocomplete label="Códifo Postal" labelMode="floating" stylingMode="underlined"
                                [ngModel]="usuario.cp"></dx-autocomplete>

                        </div>
                        <div class="dx-field col-12">

                            <dx-autocomplete label="Dirección" labelMode="floating" stylingMode="underlined"
                                [ngModel]="usuario.direccion"></dx-autocomplete>

                        </div>
                        <div class="dx-field col-12">

                            <dx-autocomplete label="Teléfono" labelMode="floating" stylingMode="underlined"
                                [ngModel]="usuario.telefono"></dx-autocomplete>

                        </div>
                        <div class="dx-field col-12">

                            <dx-autocomplete label="Correo electrónico" labelMode="floating" stylingMode="underlined"
                                [ngModel]="usuario.mail"></dx-autocomplete>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resumen col-xl-4 col-lg-7 col-md-6 col-sm-6 col-6 ">
    
                    <h3>Resumen</h3>

                    <div class="row mt-4">
                        <div class="col-6 ">Subtotal</div>
                        <div class="col-6">999.00 €</div>
                    </div>
                    <div class="row">
                        <div class="col-6">Coste de envío</div>
                        <div class="col-6">Gratis</div>
                    </div>
                    <div class="row">
                        <div class="col-6">Total(IVA incluido)</div>
                        <div class="col-6">999.00 €</div>
                    </div>
                    <button class="btn btn-primary ml-2" (click)="realizarPago()" type="button">
                        <i class="mr-1"></i>
                        Continuar
                    </button>


                
            </div>
        </div>
    </div>

</section>