<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Disfruta de nuestra web</div>
        <div class="masthead-heading text-uppercase">Bienvenido a tuCoop!</div>
    </div>
</header>

<div class='container'>
    <pre>
        <div class="video-responsive">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/bop3NgZ60TM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </div>
    </pre>
</div>

<app-noticias></app-noticias>
<app-servicios></app-servicios>