<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Podras disfrutar de nuestros servicios</div>
    <div class="masthead-heading text-uppercase">Servicios de la cooperativa</div>
  </div>
</header>
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Tus servicios</h2>
      <h3 class="section-subheading text-muted">Los servicios que ha ido contratando.</h3>
    </div>
    <div class="row">
      <div *ngFor="let servicio of servicios2" class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content"></div>
          </div>
          <img class="img-fluid d-block mx-auto" src="http://localhost/TuCoop_v2/tucooptienda/backend/web/imagenes/servicios/{{servicio.servicio_imagen}}"
            alt="" />
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{ servicio.servicio_nombre }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
