<header class="masthead">
  <div class="container">
    <div class="masthead-heading text-uppercase">Gestiona tus gastos y Beneficios</div>
  </div>
</header>
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">TUS BENEFICIOS Y GASTOS</h2>
      <h3 class="section-subheading text-muted">Analiza tus beneficios y gastos</h3>
    </div>
    <div class="text-right">
      <select name="temporadas" id="temporadas">
        <option *ngFor="let temporada of temporadas" value="{{ temporada }}" label="Temporada {{ temporada }}"></option>
      </select>
    </div>

    <div class="row">
      <div class="text-center col-md-6">
        <div class='graficos'>
          <canvas baseChart [datasets]="benbarChartData" [labels]="benbarChartLabels" [options]="benbarChartOptions"
            [plugins]="benbarChartPlugins" [legend]="benbarChartLegend" [colors]="benlineChartColors"
            [chartType]="benbarChartType">
          </canvas>
        </div>
      </div>

      <br>

      <div class="text-center col-md-6">
        <div class='graficos'>
          <canvas baseChart [datasets]="gastbarChartData" [labels]="gastbarChartLabels" [options]="gastbarChartOptions"
            [plugins]="gastbarChartPlugins" [legend]="gastbarChartLegend" [colors]="gastlineChartColors"
            [chartType]="gastbarChartType">
          </canvas>
        </div>
      </div>

      <br>
      
      <div class="row" class='tablita'>
        <div class="text-left col-md-1"></div>
        <div class="text-right  col-md-3">
          <select name="campos" id="campos" class="dropdown justify-center" >
            <option *ngFor="let campo of campos" value="{{ campo}}" label="{{ campo }}"></option>
          </select>
        </div>
  
        <div class="text-center col-md-6">
          <div class='graficos'>
            <table class="table">
              <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Gasto</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let servicio of datosServ; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{servicio.fecha_contrato}}</td>
                    <td>{{servicio.servicio_nombre}}</td>
                    <td>{{servicio.beneficio}}</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      
  </div>
</section>
