<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Modifica tus datos aquí</div>
        <div class="masthead-heading text-uppercase">Tu perfil personal</div>
    </div>
</header>
<!-- Services-->
<section class="page-section bg-light" id="services" id="principio2">
    <div class="container">
        <div class="container">
            <div class="row">
                <h2 id="tit_principal" class="col-md-12">Mi configuración</h2>
                <div class="col-md-3" id="menu">
                    <a class='enlacle' href="/datospersonales/#principio2"><h3 class="pestañas">Información personal</h3></a>
                    <hr>
                    <a class='enlacle' href="/cambiarPass/#principio2"><h3 class="pestañas">Cambio de contraseña</h3></a>
                    <hr>
                    <h3 class="pestañas" id="sel">Privacidad</h3>
                    <hr>
                </div>

                <div class="col-md-9">
                    <div class="row" id="secundario">
                        <div class="col-md-12">
                            <h3 id="tit">Privacidad</h3>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-9">
                                    <label>Recibir notificaciones de sobre noticias de la cooperativa por correo
                                        electrónico</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <input class="datos_pass form-control" type="checkbox">
                                </div>

                                <div class="col-md-9">
                                    <label>Recibir notificaciones de sobre información referente a tu gestión por correo
                                        electrónico</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <input class="datos_pass form-control" type="checkbox">
                                </div>

                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6 text-center">
                                    <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Guardar cambios</button>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>