<header class="masthead">
  <div class="container">
    <div class="masthead-heading text-uppercase">Gestiona tus productos</div>
  </div>
</header>

<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">TUS PRODUCTOS</h2>
      <h3 class="section-subheading text-muted">Analiza tus productos</h3>
    </div>
    <br>
    <div class="text-right">

      <select name="temporada" id="temporada">
        <option *ngFor="let temporada of temporadas" value="{{ temporada }}" label="Temporada {{ temporada }}"></option>
      </select>

    </div>
    <br>
    <div class="text-center">
      <div class='graficos2'>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [colors]="lineChartColors" [chartType]="barChartType">
        </canvas>
      </div>

      <div class="text-right">

        <select name="temporada2" id="temporada2">
          <option *ngFor="let temporada of temporadas2" value="{{ temporada }}" label="{{ temporada }}"></option>
        </select>

      </div>
      <div class='graficos2'>
        <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions2"
          [legend]="barChartLegend2" [colors]="lineChartColors2" [chartType]="barChartType2">
        </canvas>
      </div>
    </div>
  </div>
</section>