<!-- Footer-->
<footer class="footer py-4">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-4 text-lg-left">Copyright © Your Website 2020</div>
          <div class="col-lg-4 my-3 my-lg-0">
            <div class="social-buttons">
              <a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                <span class="social-button__inner">
                 <i class="fab fa-facebook-f"></i>
                </span>
              </a>
              <a href="#" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
                <span class="social-button__inner">
                 <i class="fab fa-linkedin-in"></i>
                </span>
              </a>
              <a href="#" class="social-buttons__button social-button social-button--instagram" aria-label="Instagram">
                <span class="social-button__inner">
                 <i class="fab fa-instagram"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-4 text-lg-right">
              <a class="mr-3" href="#!">Privacy Policy</a>
              <a href="#!">Terms of Use</a>
          </div>
      </div>
  </div>
</footer>