<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#principio">
            <img id="logo-home" src="./assets/imgs/logo.png" alt="" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu<i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto" style="text-align:center">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/listaServicios/#principio">Servicios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href='/listaNoticias/#principio'>Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href='/tienda/#principio'>Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href='/carrito/#principio'>Carrito</a>
                </li>
                <li class="nav-item">
                    <div>
                        <div class="dropdown" id="dropdown">
                            <div class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Gestión
                            </div>
                            <div id='desplegable2' class="dropdown-menu">
                                <a class="dropdown-item" href="/gestionhome">Resumen</a>
                                <a class="dropdown-item" href="/gestiongastben">Gastos/Beneficios</a>
                                <a class="dropdown-item" href="/gestionproductos">Productos</a>
                                <a class="dropdown-item" href="/gestionservicios">Servicios</a>
                            </div>                        
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href='/resumen/#principio'>Resumen</a>
                </li>
                
                <li class="nav-item">
                    <div class="dropdown">
                        <img id="dropdownMenuButton"  class="logo-perfil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="http://localhost/TuCoop_v2/tucooptienda/backend/web/imagenes/perfil/{{this.usuario.imagen_src}}" alt="" />

                        <div id='desplegable' class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/datospersonales/#principio">Datos personales</a>
                            <a class="dropdown-item" href="/cambiarPass/#principio">Cambiar contraseña</a>
                            <a class="dropdown-item" href="/privacidad/#principio">Privacidad</a>
                            <a class="dropdown-item" (click)="onLogout()" >Cerrar sesión</a>
                        </div>                        
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>